<div class="row row-map">
    <div class="col-md-9">
        <h2 class="heading">Map</h2>
        <hr/>
      <div id="map"></div>
    </div>
    <div class="col-md-3 info-container">
      <div id="activity-info">
        <h2 class="heading">Run data</h2>
        <hr/>
        <div class="data-heading">Run:</div>
        <p class="data-entry">{{ activityName }}</p>
        <hr/>
  
        <div class="data-heading">Date:</div>
        <p class="data-entry">{{ activityDate | date: "longDate" }} <p>
        <hr/>
  
        <div class="data-heading">Total distance:</div>
        <p class="data-entry">{{ activityDistance }} km</p>
        <hr/>
  
        <div class="data-heading">Comment:</div>
        <p class="data-entry">{{ activityComments }}</p>
        <hr/>
      </div>
    </div> 
  </div>
  